/* ./assets/css/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cta-primary: #319795;
}

body {
  overflow-x: hidden;
}

.fs-16 {
  font-size: 16px;
}

* {
  font-family: Lato;
  font-size: 0.875rem; /* 14px */
  letter-spacing: 0.84px;
}

.bg-gradient-primary {
  background: linear-gradient(91deg, #319795, #3182CE);
}

.text-cta-primary {
  color: var(--cta-primary);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}

.button {
  height: 40px;
  background: linear-gradient(91deg, #319795, #3182CE);
  color: white;
  border-radius: 12px;
}