<template>
  <div>
    <header class="header-container relative">
      <div class="bg-gradient-primary header-stripe" />

      <div class="header flex justify-end bg-white">
        <button type="button" class="text-cta-primary">
          Login
        </button>
      </div>
    </header>
    <Nuxt />
  </div>
</template>

<style scoped>
.header {
  height: 67px;
  padding: 17px;
  box-shadow: 0px 3px 10px #d7d7d7;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.header-stripe {
  height: 5px;
}
</style>
