<template>
  <div>
    <div class="landing-page">
      <div class="text-center heading-container">
        <h1>
          Deine Job<br>website
        </h1>
      </div>

      <img class="landing-main-bg w-full" src="/img/undraw_agreement_aajr.svg" alt="Dein Job website">

      <div class="register-box bg-white">
        <button type="button" class="button w-full">
          Kostenlos Registrieren
        </button>
      </div>
    </div>

    <tab-header />

    <div class="mb-20" />
  </div>
</template>

<script>
import TabHeader from '~/components/pages/landingPage/TabHeader.vue'

export default {
  components: {
    TabHeader
  }
}
</script>

<style>
h2 {
  font-size: 21px;
}
</style>

<style scoped>
.landing-page {
  background: transparent linear-gradient(141deg, #EBF4FF 0%, #E6FFFA 100%) 0% 0% no-repeat padding-box;
  min-height: 100vh;
  margin-top: -72px;
  margin-bottom: 60px;
  padding-top: 72px;
}

h1 {
  font-size: 42px;
  color: #2D3748;
  line-height: 50px;
}

.heading-container {
  padding-top: 18px;
}

.landing-main-bg {
  max-width: unset;
  height: 70vh;
  object-fit: cover;
}

.register-box {
  padding: 17px;
  padding-bottom: 60px;
  position: absolute;
  bottom: -43px;
  left: 0;
  right: 0;
  box-shadow: 0px -1px 3px #00000033;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
</style>
