<template>
  <div>
    <h2 class="text-center w-4/5">
      Drei einfache Schritte zu deinem neuen Mitarbeiter
    </h2>

    <section>
      <div class="flex justify-end w-full mt-6 mb-2 pr-4">
        <img class="image image-1" src="/img/undraw_Profile_data_re_v81r.svg">
      </div>

      <div class="flex justify-start w-full relative mt-20">
        <div class="number flex-none absolute bottom-0" style="transform: translateY(44px)">
          1.
        </div>
        <div class="flex-1 absolute bottom-0 right-0" style="left: 100px">
          <div class="flex flex-col flex-end w-3/4 mx-auto">
            <p>
              Erstellen dein Unternehmensprofil
            </p>
          </div>
        </div>
      </div>
    </section>

    <section style="margin-top: 160px">
      <div class="flex justify-start w-full relative" style="padding-left: 40px">
        <div class="number flex-none absolute top-0" style="transform: translateY(-150px)">
          2.
        </div>
        <div class="flex-1 absolute bottom-0 right-0" style="left: 160px">
          <p class="flex flex-col flex-end text-center">
            Erstellen dein Lebenslauf
          </p>
        </div>
      </div>

      <div class="flex justify-center w-full mt-10">
        <img class="image image-2" src="/img/undraw_about_me_wa29.svg">
      </div>
    </section>

    <section style="margin-top: 120px">
      <div class="flex justify-start w-full relative" style="padding-left: 60px">
        <div class="number flex-none absolute top-0" style="transform: translateY(-80px)">
          3.
        </div>
        <div class="flex-1 absolute top-0 right-0" style="left: 160px">
          <div class="flex flex-col flex-end">
            <p class="text-left mx-auto" style="max-width: 170px">
              Mit nur einem Klick bewerben
            </p>
          </div>
        </div>
      </div>

      <div class="flex justify-center w-full mt-32">
        <img class="image image-3" src="/img/undraw_swipe_profiles1_i6mr.svg">
      </div>
    </section>
  </div>
</template>
