<template>
  <div>
    <div class="tab-header-container mb-4">
      <div class="tab-header">
        <div
          class="tab tab-first"
          :class="{ 'active': tab === 'workers' }"
          @click="tab = 'workers'"
        >
          Arbeitnehmer
        </div>

        <div
          class="tab"
          :class="{ 'active': tab === 'employers' }"
          @click="tab = 'employers'"
        >
          Arbeitgeber
        </div>

        <div
          class="tab tab-last"
          :class="{ 'active': tab === 'temporary-offices' }"
          @click="tab = 'temporary-offices'"
        >
          Temporärbüro
        </div>

        <div class="tab-padder" />
      </div>
    </div>

    <div class="container overflow-x-hidden">
      <div class="slider" :style="{ 'transform': `translateX(-${indices[tab] * 100}%)` }">
        <workers />

        <employers />

        <temporary-offices />
      </div>
    </div>
  </div>
</template>

<script>
import Workers from '@/components/pages/landingPage/Workers.vue'
import Employers from '@/components/pages/landingPage/Employers.vue'
import TemporaryOffices from '@/components/pages/landingPage/TemporaryOffices.vue'

export default {
  components: {
    Workers,
    Employers,
    TemporaryOffices
  },
  data () {
    return {
      tab: 'workers',
      indices: {
        workers: 0,
        employers: 1,
        'temporary-offices': 2
      }
    }
  }
}
</script>

<style scoped>
.tab-header-container {
  padding-left: 16px;
  padding-right: 16px;
  overflow-x: scroll;
}

.tab-header-container::-webkit-scrollbar {
  display: none;
}

.tab-header {
  display: grid;
  grid-template-columns: 180px 180px 180px 16px;
}

.tab {
  border: 1px solid #CBD5E0;
  padding: 12px 32px;
  color: var(--cta-primary);
  text-align: center;
}

.tab-first {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.tab-last {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.tab.active {
  background-color: #81E6D9;
  color: white;
  border: none;
}

.slider {
  display: flex;
  transition: transform 0.3s ease;
}

.slider > div {
  flex: none;
  width: calc(100vw - 32px);
}
</style>

<style>
h2 {
  margin: 30px auto 20px auto;
  color: #4A5568;
}

.image {
  width: 80%;
}

.number {
  font-size: 130px;
  color: #718096;
  padding-left: 8px;
}

p {
  color: #718096;
  font-size: 16px;
}
</style>
